<html>
<head>
    <title>Faculty</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css" media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <link type="text/css" rel="stylesheet" href="/static/css/style.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>

<nav class="grey darken-3">
    <div class="container top-nav">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">Committee</a>
            <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i
                    class="fa fa-bars fa-2x"></i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/dashboard">dashboard</a></li>
<!--                <li><a href="/logout"><i class="fa fa-sign-out"></i>Logout</a></li>-->
            </ul>
        </div>
    </div>
</nav>

<div class="button container">
    <!-- Modal Trigger -->
    <a class="add-btn waves-effect waves-light btn modal-trigger green lighten-2 " href="/dashboard/committees/csv">Export</a>
    <a class="add-btn waves-effect waves-light btn modal-trigger green lighten-1" href="#modal1">Add New Committee</a>

    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <form class="col s12" method="post" action="/dashboard/committees/add" name="add-committee-form">
            <div class="modal-content">
                <div class="row">

                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="Enter the Committee Name" id="name" name="name" type="text"
                                   class="validate">
                            <label for="name">Name</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="description" placeholder="Enter the Committee Description" name="description"
                                      class="materialize-textarea"></textarea>
                            <label for="description">Description</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="Enter the Committee Created Date" id="creation_date"
                                   name="creation_date" type="date"
                                   class="validate">
                            <label for="creation_date">Created Date</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <select multiple name="members">
                                <option value="" disabled>Choose Faculties</option>
                                {{range .Faculties}}
                                <option value="{{ .ID }}:{{ .Name }}:{{ .Designation }}">{{ .Name }}</option>
                                {{ end }}
                            </select>
                            <label>Committee Members</label>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" value="Create"
                       class=" waves-effect waves-green btn-flat green lighten-1 submit-btn"/>
            </div>
        </form>
    </div>
</div>

{{if .Committees}}
<table class="container striped z-depth-1">
    <thead>
    <tr>
        <th></th>
        <th>id</th>
        <th>Name</th>
        <th>Created Date</th>
        <th>Members</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{range .Committees}}
    <tr>
        <td></td>
        <td>{{.ID}}</td>
        <td>{{.Name}}</td>
        <td>{{.CreationDate.Format "Jan 02, 2006"}}</td>
        <td>
            {{if .Members}}
            <ol>
                {{range .Members}}
                <li class="member"> {{.Name}}</li>
                {{ end }}
            </ol>
            {{ else }}
            <p>No Members</p>
            {{ end }}
        </td>
        <td><a class="btn center left-align green accent-4 waves-effect waves-light  mb"
               href="/dashboard/committee/edit/"><i class="fa fa-pencil"></i>
            Edit</a>
            <!--                <form method="POST" action="/dashboard/faculty/delete/{.id}" id="delete-form">-->
            <!--                    <button type="submit" class="btn center mb red waves-effect waves-light"><i class="fa fa-trash"></i> Delete</button>-->
            <!--                </form>-->
        </td>

    </tr>
    {{end}}
    </tbody>
</table>

{{else}}
<p>No committee data</p>
{{end}}
<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="/static/js/materialize.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        let elems = document.querySelectorAll('.modal');
        M.Modal.init(elems, {});

        elems = document.querySelectorAll('select');
        M.FormSelect.init(elems, {});

        const committeeForm = document.forms.namedItem("add-committee-form");

        committeeForm.addEventListener('submit', (e) => {
            e.preventDefault();

            const nameInput = committeeForm.elements.namedItem("name");
            const descriptionInput = committeeForm.elements.namedItem("description")
            const creationDateInput = committeeForm.elements.namedItem("creation_date");
            const membersInput = committeeForm.elements.namedItem("members");
            const membersInstance = M.FormSelect.getInstance(membersInput);

            const members = [];

            membersInstance.getSelectedValues().forEach(((opt) => {
                const arr = opt.split(":")
                members.push({
                    "id": parseInt(arr[0]),
                    "name": arr[1],
                    "designation": arr[2],
                })
            }));

            const postData = {
                "name": nameInput.value,
                "description": descriptionInput.value,
                "creation_date": new Date(Date.parse(creationDateInput.value)).toISOString(),
                "members": members,
            }

            let headers = new Headers({
                    "Content-Type": "application/json",
                }
            )

            console.log(postData)

            fetch(committeeForm.action, {
                method: "POST",
                body: JSON.stringify(postData),
                headers,
            }).then(() => {
                location.reload()
            })
        })

    });

</script>
</body>
</html>
